<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        
        
       <form th:action="@{/camion/unCamion}" th:object="${editCamion}" method="post">
           <input type="text" th:field="*{idCamion}" th:value="${idCamion}"/> <p></p>
            <label>Número de Carro: </label>
            <input type="text" th:field="*{numeroCarro}" th:value="${numeroCarro}"/> <p></p>
                <label>Número de placas: </label>
                <input type="text" th:field="*{numeroPlacas}" th:value="${numeroPlacas}"/> <p></p>
                <label>Capacidad: </label>
                <input type="text" th:field="*{capacidad}" th:value="${capacidad}"/><p></p>
                <input type="submit" value="Modificar"/>
        </form>
    </body>
</html>
